name: Update Icons and README Time

on:
  push:
    paths:
      - 'icon/emby/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      # 注意：这里改成了 python scripts/update_icons.py
      - name: Run Update Script
        run: python scripts/update_icons.py

      - name: Update README Time
        run: |
          current_time=$(date -u -d "+8 hours" +'%Y-%m-%d %H:%M:%S')
          sed -i "s/最后更新时间：.*/最后更新时间：$current_time/g" README.md

      - name: Commit and Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add lige-emby-icon.json README.md
          git diff --quiet && git diff --staged --quiet || (git commit -m "auto: update icons and time [skip ci]" && git push)
