name: Update All

on:
  push:
    paths:
      - 'icon/**'
      - 'scripts/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_jobs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      # --- 1. 这里是你要加的新位置 ---
      - name: Generate Emby JSON
        run: python scripts/generate_emby_json.py

      # --- 2. 更新 README ---
      - name: Update README
        run: p
